/Angular.Blank/Angular.Blank.csproj.user
/Angular.Playground/Angular.Playground.csproj.user
/Angular.Playground/bin
/Angular.Playground/obj
/Angular.Playground/node_modules
/Angular.Playground/src/app/app.component.js
/Angular.Playground/src/app/app.component.js.map
/Angular.Playground/src/app/app.module.js
/Angular.Playground/src/app/app.module.js.map
/Angular.Playground/src/main.js
/Angular.Playground/src/main.js.map
